@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This machine has no engineers licensed to use it.</p>
}
else
{
  <h4>Engineers licensed to work with this machine:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add an Engineer to Machine", "AddEngineer", new { id = Model.MachineId })</p>