@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine's profile: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Machine List", "Index")</p>